<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corinthians</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <nav>
        <a href="/">Início</a>
        <a href="/perfil">Meu Perfil</a>
        <a href="/elenco">Ídolos</a>
        <a href="/titulos">Títulos</a>
    </nav>

    <main>
        <h1 style="color: #000000;">Sport Clube Corinthians Paulista</h1>
        <p>Bem-vindo ao site do Bi Campeão Mundial</p>
        
        <img src="https://upload.wikimedia.org/wikipedia/pt/b/b4/Corinthians_simbolo.png" alt="Escudo do Corinthians" width="400">
        <div style="margin-top: 30px;">
            <p>Utilize o menu para navegar pelo site.</p>
        </div>
    </main>

    <footer>
        <p>FATEC REGISTRO</p>
    </footer>

</body>
</html>